.italic-paragraph {
  font-family: 'Aguafina Script', cursive;
}

.author-paragraph {
  font-style: italic;
}

h1 {
  margin: 3rem auto;
  text-align: center;
}

h2.title {
  color: $grey;
  padding: 2rem 1rem;
  text-align: center;
}
